<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="jdbctemp"/>

    <!-- DataSource definition -->
      <bean name="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://192.168.110.48:5432/plf_training"/>
        <property name="username" value="plf_training_admin"/>
        <property name="password" value="pff123"/>
    </bean>
    
    <bean class="org.springframework.jdbc.core.JdbcTemplate" name="jdbcTemplate">
    <property name="dataSource">
    <ref bean="ds"></ref>
    </property>
    </bean>
    <bean class="jdbctemp.DeptDAL" name="DeptDAO">
    <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    
    </bean>
    <bean class="jdbctemp.service" name="services">
    
    
    </bean>
   

    
    
   

    
    

    <tx:annotation-driven/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
</beans>
